body {
	background-color: #eeeeee2e;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 18px;
}


footer {
	background-color: #428BCA;
	margin-top: 30px;
	border-top: 1px solid #c4c4c4;
	height: 100%;
	padding-top: 15px;
}

.container-footer {
	background-color: #444444;
}

.frm_login_email {
	margin-bottom: 10px;
}

.frm_login_pass {
	margin-bottom: 20px;
}

.error {
	color: red;
	font-size:14px;
	padding-bottom: 10px;
}

.text-white {
	color: white !important;
}

.text-black {
	color: black !important;
}

.size-300 {
	width: 100px;
}

.navbar {
	margin-bottom: 0px;
}

.portada {
	/*background-color: #428BCA;
	color: #e2e2e2;*/
	padding: 20px;
	height: 450px;
}

.img-slider {
	height: 400px;
	width: 100%;
}

.contenido {
	border: 2px solid black;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.green {
	background-color: green;
}

.black {
	background-color: black;
}

.yellow {
	background-color: yellow;
}

.padre2 {
	height: 200px;
}

.botones .bi {
	margin-right: 5px;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#101112), color-stop(40%, #17191b), to(#1b1e20));
	background-image: linear-gradient(#101112, #17191b 40%, #1b1e20);
	background-repeat: no-repeat;
	-webkit-filter: none;
	filter: none;
	color: #fff;
}

.cancelar {
	font-size:14px;
}

.minh-100 {
	height: 18vh;
}

table caption {
	caption-side: top!important;
}

.titulo-comentario {
	margin-bottom:0!important;
}

.foto-perfil {
	width: max-content;
	border: 2px solid #7f7f7f;
}

.foto-perfil img {
	width:60px;
}

/* FORMULARIOS */
.input {
	border:none!important;
	border-bottom:2px solid black!important;
	background-color: #ffffff85!important;
}

.input:focus {
	background-color: #ffffff!important;
	border-bottom: 0px!important;
}

.top-100 {
	margin-top: 100px;
}

/* ICONOS */

.fa-eye {
	font-family: 'Font Awesome\ 5 Free';
}

.fa-eye::before {
	content: "\f06e";
}

/* Mensajes de PHP */
pre {
	background-color: grey;
	color:white;
}

/*MEDIA QUERIES*/
@media (max-width:1200px) {
	footer .padre2 {
		height: 150px;
	}

	footer .hijo {
		height: 100px;
		align-items: unset;
	}
}

@media (max-width:992px) {
	.portada {
		display:none;
	}
}

@media (min-width:768px) {
	.padre {
		height: 100px;
		margin-bottom: 5px;
		align-items: center;
	}

	.hijo {
		height: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.img-fluid.logotipo1,
	.img-fluid.logotipo2 {
		max-width: 80%;
	}

	.contenedor-logotipo {
		display: flex;
		align-items: center;
	}

	.iconos-rrss {
		max-width: 30%;
	}
}

@media (max-width:768px) {
	.padre {
		margin-bottom: 2px;
	}

	footer .padre2 {
		height: 150px;
	}

	.iconos-rrss {
		width: 60%;
	}

	.wrapper {
		justify-content: start!important;
	}

	.top-100 {
		margin-top:0px;
	}
}

@media (max-width:576px) {

	.botones {
		padding: 0.5rem 0.5rem;
		font-size: 1rem;
		line-height: 0.5;
		margin: 2px;
	}

	.logotipo {
		display: none;
	}
}

@media (max-width:500px) {


	footer .padre2 {
		height: 100px;
	}
}
